
@model AloStorPerdeYikama_v2.Controllers.AnaSayfaDTO
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    /* Create three equal columns that floats next to each other */
    .column_galery {
        float: left;
        width: 33.33%;
        display: none; /* Hide all elements by default */
    }

    /* Clear floats after rows */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Content */
    .content {
        background-color: white;
        padding: 10px;
    }

    /* The "show" class is added to the filtered elements */
    .show {
        display: block;
    }

    /* Style the buttons */
    .btn1 {
        border: none;
        outline: none;
        padding: 12px 16px;
        background-color: white;
        cursor: pointer;
    }

        .btn1:hover {
            background-color: #ddd;
        }

        .btn1.active {
            background-color: #666;
            color: white;
        }
</style>


<!-- MAIN (Center website) -->
<div >

    <h1>MYLOGO.COM</h1>
    <hr>

    <h2>PORTFOLIO</h2>

    <div id="myBtnContainer">
        <button class="btn1 active" onclick="filterSelection('all')"> Show all</button>
        <button class="btn1" onclick="filterSelection('1')"> Nature</button>
        <button class="btn1" onclick="filterSelection('2')"> Cars</button>
        <button class="btn1" onclick="filterSelection('3')"> People</button>
    </div>

    <div class="container-fluid">
        <div class="row alazea-portfolio">
            @foreach (var item in Model.DTO_galery)
            {
                <div class="single_portfolio_item column_galery @item.filter_name wow fadeInUp" data-wow-delay="100ms">
                    <!-- Portfolio Thumbnail -->
                    <div class="portfolio-thumbnail bg-img" style="background-image: url('data:image/png;base64,@System.Convert.ToBase64String(item.galery_pic)');"></div>
                    <!-- Portfolio Hover Text -->
                    <div class="portfolio-hover-overlay">
                        
                            <a href="data:image/png;base64,@System.Convert.ToBase64String(item.galery_pic)" class="portfolio-img d-flex align-items-center justify-content-center" title=@item.title>
                                <div class="port-hover-text">
                                    <h3>@item.baslik</h3>
                                    <h5>@item.alt_baslik</h5>
                                </div>
                            </a>
                       
                    </div>
                </div>
            }
        </div>
        </div>
        <!-- END MAIN -->
    </div>

<script>
    filterSelection("all")
    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("column_galery");
        if (c == "all") c = "";
        for (i = 0; i < x.length; i++) {
            w3RemoveClass(x[i], "show");
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
    }

    function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) { element.className += " " + arr2[i]; }
        }
    }

    function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
                arr1.splice(arr1.indexOf(arr2[i]), 1);
            }
        }
        element.className = arr1.join(" ");
    }


    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
</script>
