<!doctype html>
<html lang="tr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
    <!-- Favicon -->
    <title>Alo Stor Perde Yıkama</title>
    <link rel="icon" href="~/Content/img/core-img/favicon2.ico">

    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/classy-nav.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/elegant-icon.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

    <style>
        /*Galery için css*/
        /* Create three equal columns that floats next to each other */
        .column_galery {
            float: left;
            width: 33.33%;
            display: none; /* Hide all elements by default */
        }

        /* Clear floats after rows */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Content */
        .content {
            background-color: white;
            padding: 10px;
        }

        /* The "show" class is added to the filtered elements */
        .show {
            display: block;
        }

        /* Style the buttons */
        .btn1 {
            border: none;
            outline: none;
            padding: 12px 16px;
            background-color: white;
            cursor: pointer;
        }

            .btn1:hover {
                background-color: #ddd;
            }

            .btn1.active {
                background-color: #666;
                color: white;
            }
    </style>


</head>
<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-circle"></div>
        <div class="preloader-img">
            <img src="~/Content/img/core-img/bubble.png" alt="Alo stor perde logo">
        </div>
    </div>
    <!-- ##### Header Area Start ##### -->
    <!-- ***** Top Header Area ***** -->
    @*<header class="header-area">*@
    <!-- Header section Start -->
    <header class="header-area">

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a class="active" href="/Home">Ana Sayfa</a>
            <a href="/About">Hakkımızda</a>
            <a href="/Contact">İletişim</a>

        </div>
        <!-- Nav section Start -->
        <nav id="navbar">
            <!-- container Start-->
            <div class="container">
                <!--Row Start-->
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 align-self-center left-side">
                        <p><strong>Alo Stor Perde Yıkama</strong> <span>0 543 721 36 15</span></p>
                    </div>
                    @*<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 align-self-center">
                            <a href="/home"><img src="~/Content/img/Medi_logo.png" alt="logo"></a>
                        </div>*@
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 align-self-center right-side">
                        <div class="social-icons square">
                            <!-- Page Content -->
                            <div id="page-content-wrapper">
                                <span class="slide-menu" onclick="openNav()"><i class="fa fa-bars" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="social-icons another">
                            @*<i class="fa fa-facebook-official" aria-hidden="true"></i>
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                                <i class="fa fa-youtube" aria-hidden="true"></i>*@

                            <a href="https://www.facebook.com/alostorperdeyikama" target="_blank" title="Facebook hesabı"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/alostorperdeyikama" target="_blank" title="Instagram hesabı"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#" title="login"><i class="fa fa-user" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <!--Row Ended-->
            </div>
            <!-- container Ended-->
        </nav>
        <!-- Nav section Ended -->
        <img class="border-img" src="~/Content/img/border.png" width="100%" alt="">

    </header>

    <section class="hero-area">

        @RenderBody()

    </section>
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-img" style="background-image: url(./Content/img/bg-img/3-4.jpg);">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-4 text-center">
                        <div class="single-footer-widget">
                            <div class="footer-logo  mb-30">
                                <a href="/Home"><img class="rounded-circle border border-info" src="~/Content/img/core-img/logo_y.jpeg" alt="logo"></a>
                            </div>
                            <p>Bizi takip edin.</p>
                            <div class="social-info">
                                <a href="https://www.facebook.com/alostorperdeyikama" target="_blank" title="Facebook hesabı"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                @*<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>*@
                                @*<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>*@
                                <a href="https://www.instagram.com/alostorperdeyikama" target="_blank" title="Instagram hesabı"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                @*<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>*@

                              
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-4 text-center">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>SAYFALAR</h5>
                            </div>
                            <nav class="widget-nav">
                                <ul>
                                    <li><a href="/Home">Ana Sayfa</a></li>
                                    <li><a href="/About">Hakkımızda</a></li>
                                    <li><a href="/Contact">İletişim</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Single Footer Widget -->
                    <!-- Silindi -->
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>İLETİŞİM</h5>
                            </div>
                            <div class="contact-information">
                                <p><span>Addres:</span> Yakuplu Mah E-5 Karayolu Üzeri Hasırcılar İş Merkezi, D:1, 34524 Beylikdüzü/İstanbul</p>
                                <p><span>Telefon:</span> 0 543 721 36 15 - 0 543 721 36 14</p>
                                <p><span>Email:</span> aloostorperdeyikama@gmail.com</p>
                                <p><span>Çalışma Saatleri:</span> Pazartesi - Cumartesi 8:00 - 20:00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom Area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="border-line"></div>
                    </div>
                    <!-- Copywrite Text -->
                    <div class="col-12 col-md-6">
                        <div class="copywrite-text">
                            <p>
                                &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır. | Bu site Esyum tarafından  tasarlanmıştır.
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <!-- Footer Nav -->
                    <div class="col-12 col-md-6">
                        <div class="footer-nav">
                            <nav>
                                <ul>
                                    <li><a href="/Home">Ana Sayfa</a></li>
                                    <li><a href="/About">Hakkımızda</a></li>
                                    <li><a href="/Contact">İletişim</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/scripts/jquery-3.4.1.min.js"></script>
    @*<script src="~/scripts/jquery-3.4.1.slim.min.js"></script>*@
    <script src="~/scripts/popper.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>

    <script src="~/scripts/plugins.js"></script>
    <script src="~/scripts/active.js"></script>
    <script src="~/scripts/respond.min.js"></script>
    <script src="~/scripts/animate.js"></script>
    <script src="~/scripts/custom.js"></script>

    <script>
        $(function () {
            $('#denemehkn').on('show.bs.modal', function (e) {
                var btn = $(e.relatedTarget);
                var aciklama = btn.data("hizmet-id")
                $("#denemehkn_body").load("/Home/HizmetTurleri/" + aciklama);
            })
        });
    </script>


    @*Galery için script*@
    <script>
    filterSelection("all")
    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("column_galery");
        if (c == "all") c = "";
        for (i = 0; i < x.length; i++) {
            w3RemoveClass(x[i], "show");
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
    }

    function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) { element.className += " " + arr2[i]; }
        }
    }

    function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
                arr1.splice(arr1.indexOf(arr2[i]), 1);
            }
        }
        element.className = arr1.join(" ");
    }


    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
    </script>

</body>
</html>
