@model List<AloStorPerdeYikama_v2.Models.HizmetTuru>


@foreach (var item in Model)
{
    <div>
        <div class="media">
           
            @if (item.fotograf == null)
            {
                <img class="mr-3" src="./Content/img/bg-img/1-1.jpg" style="height:100px;width:100px;" />
            }
            else
            {
                <img class="mr-3" src="data:image/png;base64,@System.Convert.ToBase64String(item.fotograf)" style="height:100px;width:100px;" alt="hizmet türleri">
            }

            <div class="media-body">
                <h5 class="mt-0">@item.Title</h5>
                @item.TitleSub
            </div>
        </div>
    </div>
}
